<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin</ion-title>
    <ion-icon
      class="ion-margin-end"
      slot="end"
      name="create-outline"
      style="font-size: 25px"
      (click)="isModalOpen = true"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-no-padding">
        <ion-avatar class="avatar">
          <img [src]="currentChild.img" />
        </ion-avatar>
      </ion-col>
      <ion-col size="9" class="ion-no-padding">
        <ion-label>
          <h1>{{currentChild.name}}</h1>
          <ion-icon
            [name]="currentChild.gender =='nam'?'male':'female'"
          ></ion-icon>
          {{currentChild.dob +' | '+ currentChild.health_nsurance_id }}
        </ion-label>
      </ion-col>
    </ion-row>
    <div>
      <ion-card class="bg-white">
        <ion-row class="ion-justify-content-center">
          <ion-col size="4" class="ion-text-center">
            <ion-icon name="today" class="icon"></ion-icon>
            <ion-label><h5>Ngày sinh</h5></ion-label>
            <ion-label><h4>{{currentChild.dob}}</h4></ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-icon name="scale" class="icon"></ion-icon>
            <ion-label><h5>Cân nặng</h5></ion-label>
            <ion-label><h4>{{currentChild.weight}} kg</h4></ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-icon name="body" class="icon"></ion-icon>
            <ion-label><h5>Chiều cao</h5></ion-label>
            <ion-label><h4>{{currentChild.height}} cm</h4></ion-label>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="bg-white" style="min-height: 300px">
        <ion-list class="bg-white">
          <ion-list-header class="p-0">
            <ion-col size="8">
              <ion-label class="text-black"><h1>Tiêm chủng</h1></ion-label>
            </ion-col>
            <ion-col size="4" class="text-end">
              <a
                class="text-info"
                style="font-size: 14px"
                (click)="isHistoryOpen=true"
              >
                Lịch sử tiêm
              </a>
            </ion-col>
          </ion-list-header>
          <ion-item
            lines="none"
            color="white"
            class="border border-primary rounded mb-2"
            *ngFor="let item of currentChild.counts , let i = index"
          >
            <ion-label>{{item.name}}</ion-label>
            <ion-badge *ngFor="let el of item.number"
              >{{el}}</ion-badge
            >
          </ion-item>
          <!-- <ion-item lines="none"  color="warning">
            <ion-label>Viêm gan B</ion-label>
            <ion-badge color="success">1</ion-badge>
            <ion-badge color="secondary">2</ion-badge>
          </ion-item>
          <ion-item lines="none"  color="danger">
            <ion-label>Bạch Hầu</ion-label>
            <ion-badge color="warning">1</ion-badge>
            <ion-badge color="secondary">2</ion-badge>
          </ion-item> -->
        </ion-list>
      </ion-card>
    </div>
  </ion-grid>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template >
      <ion-header>
        <ion-toolbar>
          <ion-title>Sửa thông tin</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Đóng</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen color="light" >
        <form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
          <ion-row>
            <ion-col size="12">
              <ion-item color="light">
                <ion-label position="floating"
                  >Họ và tên <ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  autocapitalize="words"
                  required
                  formControlName="name"
                  type="text"
                  (change)="onChange($event)"
                ></ion-input>
              </ion-item>
              <!-- error message -->
              <div class="text-danger">
                <ng-container *ngFor="let validation of enMsg.name">
                  <div
                    class="error-message"
                    *ngIf="addChildForm.get('name').hasError(validation.type) && (addChildForm.get('name').dirty ||addChildForm.get('name').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
              <ion-item color="light">
                <ion-label position="floating"
                  >Số bảo hiểm y tế <ion-text color="danger">*</ion-text>(vd:
                  GD1234567890987)</ion-label
                >
                <ion-input
                  oninput="this.value = this.value.toUpperCase()"
                  required
                  formControlName="health_nsurance_id"
                  type="text"
                  (change)="onChange($event)"
                ></ion-input>
              </ion-item>
              <!-- error message -->
              <div class="text-danger">
                <ng-container *ngFor="let validation of enMsg.health_nsurance_id">
                  <div
                    class="error-message"
                    *ngIf="addChildForm.get('health_nsurance_id').hasError(validation.type) && (addChildForm.get('health_nsurance_id').dirty ||addChildForm.get('health_nsurance_id').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
              <ion-row>
                <ion-col size="6">
                  <ion-item color="light">
                    <ion-label position="floating"
                      >Chiều cao(cm) <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input
                      required
                      formControlName="height"
                      type="number"
                    ></ion-input>
                  </ion-item>
                  <!-- error message -->
                  <div class="text-danger">
                    <ng-container *ngFor="let validation of enMsg.height">
                      <div
                        class="error-message"
                        *ngIf="addChildForm.get('height').hasError(validation.type) && (addChildForm.get('height').dirty ||addChildForm.get('height').touched)"
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
      
                <ion-col size="6">
                  <ion-item color="light">
                    <ion-label position="floating"
                      >Cân nặng(kg) <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input
                      required
                      formControlName="weight"
                      type="number"
                    ></ion-input>
                  </ion-item>
                  <!-- error message -->
                  <div class="text-danger">
                    <ng-container *ngFor="let validation of enMsg.weight">
                      <div
                        class="error-message"
                        *ngIf="addChildForm.get('weight').hasError(validation.type) && (addChildForm.get('weight').dirty ||addChildForm.get('weight').touched)"
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
      
              <ion-radio-group formControlName="gender">
                <ion-label
                  ><h2 style="margin-left: 12px">
                    Giới tính <ion-text color="danger">*</ion-text>
                  </h2></ion-label
                >
                <ion-row>
                  <ion-col size="4">
                    <ion-item color="light" lines="none">
                      <ion-label>Nam</ion-label>
                      <ion-radio value="nam"> </ion-radio>
                    </ion-item>
                  </ion-col>
      
                  <ion-col size="4">
                    <ion-item color="light" lines="none">
                      <ion-label>Nữ</ion-label>
                      <ion-radio style="margin-left: 10px" value="nữ"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
      
              <ion-item color="light">
                <ion-label position="stacked"
                  >Hình ảnh <ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  required
                  placeholder="Upload Image"
                  type="file"
                  (change)="onImageSelected($event)"
                  accept="image/*"
                  capture="environment"
                ></ion-input>

                <ion-img
                  *ngIf="imageUrl!=''"
                  [src]="imageUrl"
                  style="width: 200px; height: auto"
                ></ion-img>
              </ion-item>
              <!-- error message -->
              <!-- <div class="text-danger">
                <ng-container *ngFor="let validation of enMsg.img">
                  <div
                    class="error-message"
                    *ngIf="addChildForm.get('image').hasError(validation.type) && (addChildForm.get('image').dirty ||addChildForm.get('image').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div> -->
      
              <ion-item color="light" lines="none" id="open-modal">
                <ion-label
                  ><h2>Ngày sinh <ion-text color="danger">*</ion-text></h2></ion-label
                >
                <ion-text slot="end">
                  {{pickdate.short}}
                  <span style="color: rgb(155, 152, 152)">(dd-MM-yyyy)</span>
                </ion-text>
              </ion-item>
      
              <ion-modal class="datetime-picker" trigger="open-modal">
                <ng-template>
                  <ion-content force-overscroll="false">
                    <ion-datetime
                      #datetime
                      color="secondary"
                      [value]="pickdate.full"
                      (ionChange)="dataChange(datetime.value)"
                      min="2000-01-01"
                      [max]="now"
                    ></ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
          <ion-button
            shape="round"
            expand="full"
            color="secondary"
            type="submit"
            [disabled]="addChildForm.invalid"
            style="margin: 20px;margin-bottom: 80px;" 
          >
            Lưu
          </ion-button>
        </form>
      </ion-content>
 
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isHistoryOpen">
    <ng-template>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title>Lịch sử tiêm</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isHistoryOpen = false">Đóng</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="padding-bottom: 50px;">
          <ion-searchbar
            placeholder="Tìm kiếm theo tên vắc-xin"
            [(ngModel)]="searchText"
          ></ion-searchbar>

          <ng-container *ngIf="currentChild.vaccination_details.length >0" >
            <ion-item *ngFor="let item of currentChild.vaccination_details | filter:searchText">
              <div class="col mt-2 mb-2">
                <ion-label>
                  <h2><b>{{item.vaccine.name}}</b></h2>
                  <p>
                    <ion-text color="dark">
                      <b>Thời gian:</b> {{item.created_at| date:'medium'}}
                    </ion-text>
                  </p>
                  <p>
                    <ion-text color="dark">
                      <b>Số lô:</b> {{item.lot_number}}
                    </ion-text>
                  </p>
                  <p>
                    <ion-text color="dark">
                      <b>Tiêm lần:</b> {{item.number_injections}}
                    </ion-text>
                  </p>
                </ion-label>
              </div>
             
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
