.g-10{
  margin: 10px;
 }

 .container-input{
  border-radius: 50px;
  // background-color: #8b8a8a

 }
 .container {
  display: grid;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 10px;
  max-width: 500px;
  height: 90%;
  min-height: 600px;
}
.back{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ion-input{
  --color: #000
}
ion-item{
  --background: rgba(247, 247, 247);
  --color: #000;
}
.error-message{
  color: red; margin-left: 20px
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
