<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Đăng ký </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stack/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="back flex-row-center">
    <div class="container">
      <ion-img
        src="../../assets/icon/logo.png"
        style="width: 50%; justify-self: center"
      ></ion-img>
      <ion-label
        class="ion-text-center"
        style="color: black; font-weight: bold; font-size: 20px"
        >ĐĂNG KÝ</ion-label
      >
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <ion-item lines="none" class="g-10 container-input">
          <ion-label position="floating">
            <ion-icon slot="start" name="person"></ion-icon>
            Họ và tên (Bố/Mẹ)
          </ion-label>
          <ion-input
            required
            formControlName="name"
            type="text"
            (change)="onChange($event)"
          >
          </ion-input>
        </ion-item>
        <ion-label
          *ngIf="this.name.invalid && this.name.touched"
          class="error-message"
          >Tên không được để trống</ion-label
        >
        <ion-item lines="none" class="g-10 container-input">
          <ion-label position="floating">
            <ion-icon slot="start" name="mail"></ion-icon> Email
          </ion-label>
          <ion-input required formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-label
          *ngIf="this.email.invalid && this.email.touched"
          class="error-message"
          >Email không đúng định dạng</ion-label
        >
        <ion-item lines="none" class="g-10 container-input">
          <ion-label position="floating">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            Mật khẩu
          </ion-label>
          <ion-input
            required
            formControlName="password"
            [type]="fieldTextType.pass ? 'text' : 'password'"
          >
          </ion-input>
          <ion-button
            slot="end"
            fill="clear"
            style="margin-top: 15px; color: grey"
            (click)="toggleFieldTextType(1)"
          >
            <ion-icon
              [name]="fieldTextType.pass? 'eye-off-outline' : 'eye-outline'"
              style="font-size: 25px"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-label
          *ngIf="!password.valid && (password.dirty || password.touched)"
          class="error-message"
          >Mật khẩu phải có 8 ký tự trở lên</ion-label
        >
        <ion-item lines="none" class="g-10 container-input">
          <ion-label position="floating">
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            Nhập lại mật khẩu
          </ion-label>
          <ion-input
            required
            formControlName="password_confirmation"
            [type]="fieldTextType.repass ? 'text' : 'password'"
          >
          </ion-input>
          <ion-button
            slot="end"
            fill="clear"
            style="margin-top: 15px; color: grey"
            (click)="toggleFieldTextType(2)"
          >
            <ion-icon
              [name]="fieldTextType.repass? 'eye-off-outline' : 'eye-outline'"
              style="font-size: 25px"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-label
          *ngIf="!password_confirmation.valid && (password_confirmation.dirty || password_confirmation.touched)"
          class="error-message"
          >Mật khẩu không trùng khớp</ion-label
        >
        <!-- <ion-item class="g-10 container-input">
        <ion-label position="floating">
          <ion-icon slot="start" name="call"></ion-icon>
          Số điện thoại
        </ion-label>
        <ion-input required formControlName="tel" type="text">
        </ion-input>
      </ion-item> -->
        <ion-button
          expand="block"
          style="margin: 40px 10px 10px 10px"
          color="danger"
          type="submit"
          shape="round"
          [disabled]="signupForm.invalid"
        >
          Đăng ký
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
